.khan__quote {
  max-width: 790px; /* по брифу указана фиксированная ширина*/
  margin-top: 50px;
  margin-bottom: 36px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
