/* стили для блока с таблицей в digits*/
.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
